<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<title>Template is Working</title>
</head>
<body>
<section>
	<h1>Welcome</h1>
	<form action="/a" method="get">
		Name : <input type="text" name="usrName" placeholder="Username">
		<br>
		Male : <input type="checkbox" name="male" value="male">
		<br>
		<button type="submit">Submit</button>
	</form>
</section>

</body>
</html>